<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Usuarios</h3>
	</div>
	<table class="table table-condensed">
		<tr>
			<td><strong>...</strong></td>
			<td><strong>Nombre</strong></td>
			<td><strong>Cargo</strong></td>
			<td><strong>Ultimo login</strong></td>
			<% if @admin%>
				<td><strong>Estado</strong></td>
			<% end%>
		</tr>
		<% @usuarios.each do |d|%>
			<tr>
				<td>
					<%= link_to image_tag(d.link_foto, size: "30x30", class: "img-rounded"),{controller: "usuario", action: "visualizar", correo: d.email}%>
				</td>
				<td>
					<%= d.nombre%> <%=d.apellido%>
					<% if d.estado==1%>
						<span class="label label-success">Activo</span>
					<% elsif d.estado==2%>
						<span class="label label-warning">Por validar</span>
					<% elsif d.estado==3%>
						<span class="label label-danger">Inactivo</span>
					<% end%>
				</td>
				<td>
					<%= d.rols.nombre%>
				</td>
				<td>
					<%= d.ultimoLogin%>
				</td>
				<% if @admin%>
					<td>
						<% if d.rols.nombre!="Administrador"%>
							<% if d.estado<3%>
								<%= link_to({controller: "usuario", action: "autorizar", usuario: d.email}, class: "btn btn-primary") do%>
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								<% end%>
							<% else%>
								<%= link_to({controller: "usuario", action: "desactivar", usuario: d.email}, class: "btn btn-danger") do%>
									<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
								<% end%>
							<% end%>
						<% else%>
							<% if d.estado<3%>
								<a href="#" class="btn btn-primary">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								</a>
							<% else%>
								<a href="#" class="btn btn-danger">
									<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
								</a>
							<% end%>
						<% end%>
					</td>
				<% end%>
			</tr>
		<%end%>
	</table>
</div>
