<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Usuarios registrados</h3>
	</div>
	<div class="panel-body">
		<% @usuarios.each do |d|%>
			<div class="media">
				<div class="media-left">
					<%= link_to image_tag(d.link_foto, size: "64x64", class: "img-rounded"),{controller: "usuario", action: "visualizar", correo: d.email}%>
				</div>
				<div class="media-body">
					<div class="col-md-7">
						<strong>Correo: </strong><%= d.email%>
						<% if d.estado==1%>
							<span class="label label-success">Vinculado</span>
						<% elsif d.estado==2%>
							<span class="label label-warning">Sin Autenticar</span>
						<% elsif d.estado==3%>
							<span class="label label-danger">Desvinculado</span>
						<% else%>
							<span class="label label-default">Sin Especificar</span>
						<% end%>
						<br />
						<strong>Nombre: </strong><%= d.nombre%> <%=d.apellido%>
						<br />
						<strong>Documento de identificacion: </strong><%= d.identificacion+", "+d.tipo_documentos.nombre%> 
						<br />
						<strong>Especialidad: </strong><%= d.especialidad%>
					</div>
					<div class="col-md-5">
						<div class="btn-group" role="group">
							<%= link_to "Ver",{controller: "usuario", action: "visualizar", correo: d.email}, class: "btn btn-default"%>
							<% if @admin%>
								<% if d.estado==3%>
									<%= link_to "Autorizar", {controller: "usuario", action: "autorizar", usuario: d.email}, class: "btn btn-primary"%>
								<% elsif (current_cuenta_usuario.id==d.id) or (d.estado==2) or (d.rols.nombre!="Administrador")%>
									<%= link_to "Reautorizar",{controller: "usuario", action: "cambiar", usuario: d.id}, class: "btn btn-success"%>
									<%= link_to "Desautorizar",{controller: "usuario", action: "desactivar", usuario: d.email}, class: "btn btn-danger"%>
								<%end %>
							<% end%>
						</div>
					</div>			
				</div>
			</div>
			<br />
		<%end%>
	</div>
</div>
