<h1>Agregar datos de cuenta</h1>
<%= form_tag({controller: "usuario", action: "agregar"} , method: "post") do %>
	<br />
	<%= text_field_tag "nombre", @valorNombre, size: 30, maxlenght: 30, placeholder: "Nombre", required:"required"%>
	<br />
	<%= text_field_tag "apellido", @valorApellido, size: 30, maxlenght: 30, placeholder: "Apellido", required:"required"%>
	<br />
	<select id="genero" name="genero">
		<option value=0>Femenino</option>
		<option value=1>Masculino</option>
	</select>
	<%= date_field_tag "fecha", @valorFecha, required:"required"%>
	<br />
	<%= text_field_tag "especialidad", @valorEspecialidad , size: 30, maxlenght: 30, placeholder: "Especialidad", required:"required"%>
	<br />
	<%= text_field_tag "direccion", @valorDireccion, size: 30, maxlenght: 45, placeholder: "Direccion", required:"required"%>
	<br />
	<%= submit_tag "Guardar datos", disabled: false, disable_with: "Por favor espere..."%>
<%end%>
<br />
