<h1>Usuarios en el sistema</h1>
<%if @especifico%>
	<h3>Usuario especificado</h3>
	<br />
	Nombre: <%= @usuario.nombre%>
	<br />
	Apellido: <%= @usuario.apellido%>
	<br />
	Numero de identificacion: <%= @usuario.identificacion%>
	<br />
	Documento: <%= @usuario.tipo_documentos.nombre%>
	<br />
	Direccion: <%= @usuario.direccion%>
	<br />
	Correo: <%= @usuario.email%>
	<br />
	Genero: <%= @genero%>
	<br />
	Cargo: <%= @usuario.rols.nombre%>
	<br />
	Especialidad: <%= @usuario.especialidad%>
	<br />
	Fecha de nacimiento: <%= @usuario.fecha_nacimiento%>
	<br />
	<% if @modificar%>
		<br />
		<%= link_to "Modificar datos", action: "actualizar", controller: "usuario"%>
	<% end%>
	<% if @horario%>
		<br />
		<%= link_to "Horario", action: "cargar", controller: "horario", correo: @correo%>
	<%end%>
	<% if @desactivar%>
		<br />
		<%= link_to "Desactivar", action: "desactivar", controller: "usuario", correo: @correo%>
	<% end%>
	<br />
	<br />
	<%= link_to "Ir a la lista", action: "visualizar", controller: "usuario"%>
<% else%>
	<% @usuarios.each do |d|%>
	<div>
		<br />
		<%= link_to d.email, action: "visualizar", controller: "usuario", correo: d.email %>
	</div>
	<%end%>
<%end%>
<br />
