<h1>Usuarios en el sistema</h1>
<%if @especifico%>
	<h3>Usuario especificado</h3>
	<% if @usuario.link_foto%>
		<%= image_tag(@usuario.link_foto)%>
	<% end%>
	<br />
	Nombre: <%= @usuario.nombre%>
	<br />
	Apellido: <%= @usuario.apellido%>
	<br />
	Numero de identificacion: <%= @usuario.identificacion%>
	<br />
	Documento: <%= @usuario.tipo_documentos.nombre%>
	<br />
	Direccion: <%= @usuario.direccion%>
	<br />
	Correo: <%= @usuario.email%>
	<br />
	Genero: <%= @genero%>
	<br />
	Cargo: <%= @usuario.rols.nombre%>
	<br />
	Especialidad: <%= @usuario.especialidad%>
	<br />
	Fecha de nacimiento: <%= @usuario.fecha_nacimiento%>
	<br />
	<% if @modificar%>
		<br />
		<%= link_to "Modificar datos", action: "actualizar", controller: "usuario", usuario: @usuario.email%>
	<% end%>
	<% if @desactivar%>
		<br />
		<%= link_to "Desactivar", action: "desactivar", controller: "usuario", correo: @correo%>
	<% end%>
	<br />
	<br />
	<%= link_to "Ir a la lista", action: "visualizar", controller: "usuario"%>
<% else%>
	<div id="usuarios">
		<%= render 'vista_usuarios'%>
	</div>
<%end%>
<br />
