<%if @especifico%>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Datos del paciente</h3>
		</div>
		<div class="panel-body">
			<% if @usuario.link_foto%>
				<center><%= image_tag(@usuario.link_foto,size: "400x400", class: "img-rounded")%></center>
				<br />
			<% end%>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Nombre</p></strong>
				</div>
				<div class="col-md-8">
					<%= @usuario.nombre%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Apellido</p></strong>
				</div>
				<div class="col-md-8">
					<%= @usuario.apellido%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Documento de identidad</p></strong>
				</div>
				<div class="col-md-8">
					<%= @usuario.identificacion+", "+@usuario.tipo_documentos.nombre%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Direccion</p></strong>
				</div>
				<div class="col-md-8">
					<%= @usuario.direccion%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Correo</p></strong>
				</div>
				<div class="col-md-8">
					<%= @usuario.email%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Genero</p></strong>
				</div>
				<div class="col-md-8">
					<%= @genero%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Cargo</p></strong>
				</div>
				<div class="col-md-8">
					<%= @usuario.rols.nombre%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Especialidad</p></strong>
				</div>
				<div class="col-md-8">
					<%= @usuario.especialidad%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Fecha de nacimiento</p></strong>
				</div>
				<div class="col-md-8">
					<%= @usuario.fecha_nacimiento%>
				</div>
			</div>
		</div>
	</div>
	<center>
		<div class="btn-group btn-group-lg" role="group">
			<% if (current_cuenta_usuario.id==@usuario.id)%>
				<%= link_to "Modificar",{controller: "usuario", action: "actualizar"}, class: "btn btn-default"%>
			<% end%>
			<% if @admin%>
				<% if @usuario.estado==3%>
					<%= link_to "Autorizar", {controller: "usuario", action: "autorizar", usuario: @usuario.email}, class: "btn btn-primary"%>
				<% elsif (current_cuenta_usuario.id==@usuario.id) or (@usuario.estado==2) or (@usuario.rols.nombre!="Administrador")%>
					<%= link_to "Reautorizar",{controller: "usuario", action: "cambiar", usuario: @usuario.id}, class: "btn btn-success"%>
					<%= link_to "Desautorizar",{controller: "usuario", action: "desactivar", usuario: @usuario.email}, class: "btn btn-danger"%>
				<% end%>
			<% end%>
		</div>
	</center>
<% else%>
	<%= form_tag({controller: "usuario", action: "visualizar"}, id: "busqueda_usuario", remote: true , method: "get") do%>
		<div class="form-group">
			<%= label_tag "buscar usuario por nombre"%>
			<div class="input-group">
				<%= text_field_tag "busqueda","", placeholder: "Nombre del usuario", class: "form-control"%>
				<span class="input-group-btn">
					<%= button_tag(type: 'submit', class: "btn btn-primary") do%>
						<span class="glyphicon glyphicon-search"></span>
					<% end%>
					<% if @admin%>
						<%= link_to({controller: "usuario", action: "autorizar"}, class: "btn btn-success") do%>
							<span class="glyphicon glyphicon-plus"></span>
						<% end%>
					<% end%>
				</span>
			</div>
		</div>
	<% end%>
	<div id="usuarios">
		<%= render 'vista_usuarios'%>
	</div>
<%end%>
