<br />
<% if params[:action]=="agregar"%>
	<%= file_field_tag "avatar", accept: 'image/png,image/gif,image/jpeg', required: "required"%>
<% else%>
	Image previa
	<br />
	<%= image_tag(@paciente.avatar.url(:medium))%>
	<br />
	<%= file_field_tag "avatar", accept: 'image/png,image/gif,image/jpeg'%>
<% end%>
<br />
<%= text_field_tag "identificacion", @valorIdentificacion , size: 30, maxlenght: 15, placeholder: "Numero de identificacion", required:"required"%>
<br />
<%= select_tag "documento", options_from_collection_for_select(@documentos, :id,:nombre)%>
<br />
<%= text_field_tag "nombre", @valorNombre , size: 30, maxlenght: 30, placeholder: "Nombre", required:"required"%>
<br />
<%= text_field_tag "apellido", @valorApellido , size: 30, maxlenght: 30, placeholder: "Apellido", required:"required"%>
<br />
<%= text_field_tag "correo", @valorCorreo , size: 30, maxlenght: 30, placeholder: "Correo electronico", required:"required"%>
<br />
<select id="genero" name="genero">
	<% if @paciente.genero%>
		<option value=0>Femenino</option>
		<option value=1 selected="selected">Masculino</option>
	<% else %>
		<option value=0 selected="selected">Femenino</option>
		<option value=1>Masculino</option>
	<% end%>
</select>
<br />
<%= text_field_tag "direccion", @valorDireccion , size: 30, maxlenght: 30, placeholder: "Direccion", required:"required"%>
<br />
<%= date_field_tag "fecha_n", @valorFechaN , required:"required"%>
<br />
<%= select_tag "estadoC", options_from_collection_for_select(@estadosC, :id,:nombre, @paciente.estado_civils_id)%>
<br />
<%= select_tag "patologia", options_from_collection_for_select(@patologias, :id,:nombre, @paciente.patologia_id)%>
<br />
<div id="antecedente_paciente">
	<%= render 'guardar_antecedente'%>
</div>
Antecedentes generales del paciente
<br />
<%= text_area_tag "antecedentes", @valorAntecedentes%>
<br />
<%= submit_tag "Guardar datos", disabled: false, disable_with: "Por favor espere..."%>