<% if params[:action]=="agregar"%>
	<div class="form-group" id="divFotoPaciente">
		<%= label_tag "Imagen de perfil",nil, class: "control-label" %>
		<%= file_field_tag "avatar", accept: 'image/png,image/gif,image/jpeg', class: "form-control"%>		
	</div>
<% else%>
	<div class="form-group" id="divFotoPaciente">
		<%= image_tag(@paciente.avatar.url(:medium), class: "img-rounded")%>
		<%= label_tag "Imagen previa",nil, class: "control-label"%>
		<%= file_field_tag "avatar", accept: 'image/png,image/gif,image/jpeg', class: "form-control"%>
	</div>
<% end%>
<div class="form-group" id="divIdPaciente">
	<%= label_tag "Numero de identificacion", nil, class: "control-label"%>
	<%= text_field_tag "identificacion", @valorIdentificacion ,maxlenght: 15, placeholder: "Numero de identificacion", class: "form-control", onkeypress: "return isNumber(event)"%>
</div>
<div class="form-group" id="divDocPaciente">
	<%= label_tag "Tipo de documento",nil, class: "control-label"%>
	<%= select_tag "documento", options_from_collection_for_select(@documentos, :id,:nombre, @paciente.tipo_documentos_id), class: "form-control"%>	
</div>
<div class="form-group" id="divNombrePaciente">
	<%= label_tag "Nombres",nil, class: "control-label"%>
	<%= text_field_tag "nombre", @valorNombre , maxlenght: 30, placeholder: "Nombre", class: "form-control"%>
</div>
<div class="form-group" id="divApellidoPaciente">
	<%= label_tag "Apellidos",nil, class: "control-label"%>
	<%= text_field_tag "apellido", @valorApellido , maxlenght: 30, placeholder: "Apellido", class: "form-control"%>
</div>
<div class="form-group" id="divCorreoPaciente">
	<%= label_tag "Correo electronico",nil, class: "control-label"%>
	<%= text_field_tag "correo", @valorCorreo , maxlenght: 30, placeholder: "Correo electronico", class: "form-control"%>
</div>
<div class="form-group" id="divTelefonoPaciente">
	<%= label_tag "Telefono",nil, class: "control-label"%>
	<%= text_field_tag "telefono", @valorTelefono , maxlenght: 20, placeholder: "Telefono", class: "form-control", onkeypress: "return isNumber(event)"%>
</div>
<div class="form-group" id="divGeneroPaciente">
	<%= label_tag "Genero",nil, class: "control-label"%>
	<select id="genero" name="genero" class="form-control">
		<% if @paciente.genero%>
			<option value=0>Femenino</option>
			<option value=1 selected="selected">Masculino</option>
		<% else %>
			<option value=0 selected="selected">Femenino</option>
			<option value=1>Masculino</option>
		<% end%>
	</select>
</div>
<div class="form-group" id="divCiudadPaciente">
	<%= label_tag "Ciudad",nil, class: "control-label"%>
	<%= select_tag "ciudad", options_from_collection_for_select(@ciudades, :id,:nombre, @paciente.ciudads_id), class: "form-control"%>
</div>
<div class="form-group" id="divDireccionPaciente">
	<%= label_tag "Direccion",nil, class: "control-label"%>
	<%= text_field_tag "direccion", @valorDireccion, maxlength: 100, placeholder: "Direccion", class: "form-control"%>	
</div>
<div class="form-group" id="divNacPaciente">
	<%= label_tag "Fecha de nacimiento",nil, class: "control-label"%>
	<div class='input-group date' id='datetimepicker1'>
		<%= date_field_tag "fecha_n", @valorFechaN, class:"form-control" %>
		<span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span></span>
    </div>
</div>
<div class="form-group" id="divCivilPaciente">
	<%= label_tag "Estado civil",nil, class: "control-label"%>
	<%= select_tag "estadoC", options_from_collection_for_select(@estadosC, :id,:nombre, @paciente.estado_civils_id), class: "form-control"%>	
</div>
<div class="form-group" id="divPatologiaPaciente">
	<%= label_tag "Patologia del paciente",nil, class: "control-label"%>
	<%= select_tag "patologia", options_from_collection_for_select(@patologias, :id,:nombre, @paciente.patologia_id) ,class: "form-control"%>
</div>
<div id="antecedente_paciente">
	<%= render 'guardar_antecedente'%>
</div>
<div class="form-group" id="divAnteGPaciente">
	<%= label_tag "Antecedentes generales del paciente",nil, class: "control-label"%>
	<%= text_area_tag "antecedentes", @valorAntecedentes, placeholder: "Antecedentes generales", rows: 3, class: "form-control"%>
</div>
<%= submit_tag "Guardar datos", class:"btn btn-primary"%>
<script type="text/javascript">
	$(function () {
	    $('#datetimepicker1').datetimepicker({ 
	    	format: "YYYY-MM-DD"
	    });
	});
</script>
