<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Antecedentes del paciente</h3>
	</div>
	<ul class="list-group">
		<% @paciente.antecedente_paciente.each do |a|%>
			<li class="list-group-item">
				<%= a.antecedente_medicos.tag.upcase%>
				<% if a.antecedente_medicos.tipo%>
					<br />
					<strong><%=a.antecedente_medicos.descripcion%>:</strong> <%=a.comentario%>
				<% end%>
			</li>
		<% end%>
	</ul>
</div>
<% if @medicoC and params[:action]=="efectuar"%>
	<%= form_tag({controller: "cita_medica", action: "efectuar", cita: params[:cita], cambio_i: true}, remote: true, method: "post") do %>
		<%= submit_tag "Actualizar antecedentes", class: "btn btn-primary"%>
	<% end%>
<% end%>
