<% if @encargado%>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">Visitas domiciliarias sin concluir</h3>
		</div>
		<table class="table table-condensed">
			<tr>
				<td><strong>...</strong></td>
				<td><strong>Nombre</strong></td>
				<td><strong>Fecha de la visita</strong></td>
				<td><strong></strong></td>
			</tr>
			<% @pacientesN.each do |t|%>
				<tr>
					<td>
						<%=link_to image_tag(t.avatar.url(:medium), size: "30x30", class: "img-rounded"), {controller: "paciente", action: "visualizar", correo: t.correo}%>
					</td>
					<td>
						<%=  t.nombre+" "+t.apellido%>
						<% if t.estado==1%>
							<span class="label label-success">Activo</span>
						<% else%>
							<span class="label label-danger">Retirado</span>
						<% end%>
					</td>
					<td>
						<%if t.ultimaVisita%>
							 <%= t.ultimaVisita.fecha%>
						<% else%>
							Sin realizar
						<% end%>
					</td>
					<td>
						<div class="btn-group" role="group">
							<%= link_to "Concluir",{controller: "cita_medica", action: "agregar_respuesta", cita: t.ultimaVisita.id}, class: "btn btn-danger"%>
						</div>
					</td>
				</tr>
			<%end%>
		</table>
	</div>
<% end%>
<div class="panel panel-default">
	<table class="table table-condensed">
		<tr>
			<td><strong>...</strong></td>
			<td><strong>Nombre</strong></td>
			<td><strong>Ultima consulta</strong></td>
			<td><strong>Ultima visita</strong></td>
			<td><strong>Proxima visita</strong></td>
			<% if @admin%>
				<td><strong>Estado</strong></td>
			<% end%>
			<% if @medico or @paramedico%>
				<td><strong>Consulta</strong></td>
			<% end%>
		</tr>
		<% @pacientes.each do |t|%>
			
			<tr>
				<td>
					<%=link_to image_tag(t.avatar.url(:medium), size: "30x30", class: "img-rounded"), {controller: "paciente", action: "visualizar", correo: t.correo}%>
				</td>
				<td>
					<%=  t.nombre+" "+t.apellido%>
					<% if t.estado==1%>
						<span class="label label-success">Activo</span>
					<% else%>
						<span class="label label-danger">Retirado</span>
					<% end%>
				</td>
				<td>
					<%if t.ultimaCita%>
						 <%= t.ultimaCita.fecha%>
					<% else%>
						Sin realizar
					<% end%>
				</td>
				<td>
					<%if t.ultimaVisita%>
						 <%= t.ultimaVisita.fecha%>
						 <% if t.ultimaVisita.estado==3%>
						 	<span class="label label-danger">Inconclusa</span>
						 <% end%>
					<% else%>
						Sin realizar
					<% end%>
				</td>
					<%if t.ultimaVisita and t.ultimaVisita.prescripcions%>
						<td>
						 <%= t.ultimaVisita.prescripcions.fechaFin%>
					<% elsif t.ultimaCita and t.ultimaCita.prescripcions%>
						<td>
						<%= t.ultimaCita.prescripcions.fechaFin%>
					<% else%>
						<td class="danger">
						Sin realizar
					<% end%>
				</td>
				<% if @admin%>
					<td>
						<% if t.estado==1%>
							<%= link_to({controller: "paciente", action: "actualizar", paciente:t.correo, desactivar: true}, class: "btn btn-primary") do%>
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							<% end%>
						<% else%>
							<%= link_to({controller: "paciente", action: "actualizar", paciente:t.correo, activar: true}, class: "btn btn-danger") do%>
								<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
							<% end%>
						<% end%>
					</td>
				<% end%>
				<% if (@medico or @paramedico) and t.estado==1%>
					<td>
						<div class="btn-group" role="group">
							<%= link_to({controller: "cita_medica", action: "efectuar", paciente: t.correo}, class: "btn btn-default") do%>
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<% end%>
						</div>
					</td>
				<% end%>
			</tr>
		<%end%>
	</table>
</div>
