<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Pacientes registrados</h3>
	</div>
	<div class="panel-body">
		<% @pacientes.each do |t|%>
			<div class="row">
				<div class="col-md-9">
					<strong>Paciente:</strong><%=  t.nombre+" "+t.apellido%>
					<% if t.estado==1%>
						<span class="label label-success">En tratamiento</span>
					<% else%>
						<span class="label label-danger">Retirado</span>
					<% end%>
					<br />
					<strong>Patologia:</strong> <%= t.patologia.nombre%>
					<br />
					<strong>Ultima Cita realizada:</strong>
					<%if t.cita_medicas.where(["generico = ? and estado = ?", false, 2]).last%>
						 <%= t.cita_medicas.where(["generico = ? and estado = ?", false, 2]).last.fecha%>
					<% else%>
						Sin realizar
					<% end%>
				</div>
				<div class="col-md-3">
					<div class="btn-group" role="group">
						<%= link_to "Ver",{controller: "paciente", action: "visualizar", correo: t.correo}, class: "btn btn-default"%>
						<% if @medico or @paramedico%>
							<%= link_to "Consultar",{controller: "cita_medica", action: "efectuar", paciente: t.correo}, class: "btn btn-primary"%>
						<% end%>
						<% if @medico or @admin%>
							<%= link_to "Modificar",{controller: "paciente", action: "actualizar", paciente: t.correo}, class: "btn btn-success"%>
							<% if t.estado==2%>
								<%= link_to "Activar", {controller: "paciente", action: "actualizar", paciente:t.correo, activar: true}, class: "btn btn-danger"%>
							<% end%>
						<% end%>
					</div>
				</div>
			</div>
			<br />
		<%end%>
	</div>
</div>
