<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Laboratorios del paciente</h3>
	</div>
	<%if params[:action]=="agregar_inr"%>
		<div class="panel-body">
			<% @paciente.laboratorios.each do |t|%>
				<div class="form-group">
					<div class="row">
						<div class="col-md-8">
							<strong>Estudio (<%= t.fecha%>):</strong><%= t.estudio%>
							<br />
							<strong>Resultado:</strong><%= t.resultado%>
							<br />
							<strong>Observacion:</strong><%= t.observacion%>
						</div>
						<div class="col-md-4">
							<%= form_tag({controller: "paciente", action: "agregar_inr", paciente: params[:paciente], lab_d: t.id},  remote: true , method: "get") do %>
								<div class="btn-group btn-group-justified" role="group">
									<div class="btn-group" role="group">
										<%= submit_tag "Borrar", class: "btn btn-danger"%>
									</div>
								</div>
							<% end%>
						</div>
					</div>
				</div>
			<% end%>
		</div>
	<% else%>
		<ul class="list-group">
			<% @paciente.laboratorios.each do |t|%>
				<li class="list-group-item">
					<strong>Estudio (<%= t.fecha%>):</strong><%= t.estudio%>
					<br />
					<strong>Resultado:</strong><%= t.resultado%>
					<br />
					<strong>Observacion:</strong><%= t.observacion%>
				</li>
			<% end%>
		</ul>
	<% end%>
</div>
