<%= render 'cita_medica/datos_paciente'%>
<br />
<div id="inr_paciente">
	<%= render 'vista_inr'%>
</div>
<br />
<%= form_tag({controller: "paciente", action: "agregar_inr", paciente: params[:paciente]}, id: "agregar_inr",  remote: true , method: "get") do %>
	<br />
	<%= text_field_tag "inr", "", size: 25, maxlenght: 5, placeholder: "Valor inr del paciente", required: "required"%>
	<br />
	Fecha del valor: <%= date_field_tag "fecha", nil, required: "required"%>
	<br />
	Anticoagulante: <%= select_tag "antic", options_from_collection_for_select(@anticoagulantes, :id, :nombre) %>
	<br />
	<%= submit_tag "Guardar", disabled: false, disable_with: "Por favor espere..."%>
	<br />
<% end%>
<br />
<%= link_to "Nueva consulta" , controller: "cita_medica", action: "aplicar", paciente: @paciente.correo%>
