<h1>Ver pacientes</h1>
<% if @especifico%>
	<h3>Paciente especificado</h3>
	<br />
	Nombre: <%= @nombre%>
	<br />
	Apellido: <%= @apellido%>
	<br />
	Numero de identificacion: <%= @identificacion%>
	<br />
	Documento: <%= @documento%>
	<br />
	Direccion: <%= @direccion%>
	<br />
	Correo: <%= @correo%>
	<br />
	Estado Civil: <%= @estadoC%>
	<br />
	Genero: <%= @genero%>
	<br />
	Fecha de nacimiento: <%= @fechaN%>
	<br />
	<br />
	Patologia: <%= @patologia%>
	<br />
	Decripcion: <%= @desPatologia%>
	<br />
	<br />
	Ultimo INR registrado: <%= @inr%>
	<br />
	tomado el <%= @fecha%>
	<br />
	<br />
	<% if @prescripcion%>
		Ultima prescripcion
		<br />
		Fecha de creacion: <%= @prescripcion.create_at%>
		<br />
		Fecha de vencimiento: <%= @prescripcion.fechaFin%>
		<br />
		Anticoagulante: <%= @anticoagulante.nombre%>
		<br />
		<% if @prescripcionDiaria%>
			Prescripcion diaria
			<br />
			<% @prescripcionDiaria.each do |d|%>
				Dia <%= d.dia%> - cantidad <%= d.cantidad%>
				<br />
			<% end%>
		<% end%>
	<% end%>
<%else%>
	<% @pacientes.each do |t|%>
		<li>
			<%= link_to t.nombre+" "+t.apellido, controller: "paciente", action: "visualizar", correo: t.correo%>
		</li>
	<%end%>
<%end%>
<br />
<%=link_to "Ir al menu", action:"index", controller: "principal"%>
