<% if @especifico%>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Datos del paciente</h3>
		</div>
		<div class="panel-body">
			<%= image_tag(@paciente.avatar.url(:medium), class: "img-rounded")%>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Nombre</p></strong>
				</div>
				<div class="col-md-8">
					<%= @paciente.nombre%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Apellido</p></strong>
				</div>
				<div class="col-md-8">
					<%= @paciente.apellido%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Documento de identidad</p></strong>
				</div>
				<div class="col-md-8">
					<%= @paciente.identificacion%>, <%= @paciente.tipo_documentos.nombre%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Direccion</p></strong>
				</div>
				<div class="col-md-8">
					<%= @paciente.direccion%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Correo</p></strong>
				</div>
				<div class="col-md-8">
					<%= @paciente.correo%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Estado civil</p></strong>
				</div>
				<div class="col-md-8">
					<%= @paciente.estado_civils.nombre%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Genero</p></strong>
				</div>
				<div class="col-md-8">
					<%= @genero%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Fecha de nacimiento</p></strong>
				</div>
				<div class="col-md-8">
					<%= @paciente.fecha_nacimiento%> (<%= @edad%> años)
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Causa de la anticoagulacion</p></strong>
				</div>
				<div class="col-md-8">
					<%= @paciente.patologia.nombre%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Descripcion de la causa</p></strong>
				</div>
				<div class="col-md-8">
					<%=@paciente.patologia.descripcion%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Ultimo INR de tratamiento</p></strong>
				</div>
				<div class="col-md-8">
					<%= (@inr.valorInr) if @inr%> tomado el <%= (@inr.fecha) if @inr%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Promedio INR</p></strong>
				</div>
				<div class="col-md-8">
					<%= @promedioINR%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Porcentaje INR</p></strong>
				</div>
				<div class="col-md-8">
					<%= @porcentajeINR%> %
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Porcentaje de riesgo de hemorragia</p></strong>
				</div>
				<div class="col-md-8">
					<%= @riesgoHemorragia%> %
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<strong><p class="text-right">Porcentaje de riesgo de embolia</p></strong>
				</div>
				<div class="col-md-8">
					<%= @riesgoEmbolia%> %
				</div>
			</div>
		</div>
	</div>
	<%= render 'antecedente_paciente'%>
	<%= render 'vista_inr'%>
	<%= render 'vista_laboratorios'%>
	<% if @prescripcion%>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Ultima prescripcion</h3>
			</div>
			<div class="panel-body">
				<strong>Fecha de creacion: </strong> <%= @prescripcion.created_at.to_date%>
				<br />
				<strong>Fecha de vencimiento: </strong> <%= @prescripcion.fechaFin.to_date%>
				<br />
				<strong>Anticoagulante: </strong> <%= @prescripcion.anticoagulantes.nombre%>
			</div>
			<table class="table table-bordered">
				<tr>
					<% @prescripcion.prescripcion_diaria.each do |t|%>
						<td>
							<%= t.dia_asociados.nombre%>
						</td>
					<% end%>
				</tr>	
				<tr>
					<% @prescripcion.prescripcion_diaria.each do |t|%>
						<td>
							<%= t.cantidadGramos/10%> Pastilla(s)
						</td>
					<% end%>
				</tr>
			</table>
		</div>
	<% end%>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Citas medicas</h3>
		</div>
		<div class="panel-body">
			<% @citasMedicas.each do |t| %>
				<div class="row">
					<%= link_to controller: "cita_medica", action: "visualizar", cita: t.id do%>
						<div class="col-md-9">
							<strong><%= t.tipo%></strong>
							<% if t.estado==1%>
								<% if t.fecha.to_date>Date.current%>
									<span class="label label-info">Proximamente</span>
								<% elsif t.fecha.to_date==Date.current%>
									<span class="label label-info">Proximamente</span>
								<% end%>
							<% elsif t.estado==2%>
								<% if t.fecha.to_date==t.fecha_realizacion.to_date%>
									<span class="label label-success">Puntual</span>
								<% elsif t.fecha.to_date<t.fecha_realizacion.to_date%>
									<span class="label label-danger">Tardia</span>
								<% else%>
									<span class="label label-warning">Previa</span>
								<% end%>
							<% elsif t.estado==3%>
								<span class="label label-default">Inconclusa</span>
							<% end%>
							<br />
							<strong>Fecha: </strong><%= t.fecha %>
							<br />
							<strong>INR: </strong>
							<% if t.inr_pacientes.where(["fecha = ? and cita_medicas_id = ?",t.fecha,t.id]).first %>
								<%= t.inr_pacientes.where(["fecha = ? and cita_medicas_id = ?",t.fecha,t.id]).first.valorInr%>
							<% else%>
								(Sin encontrar)
							<% end%>					
						</div>
					<% end%>
					<div class="col-md-3">
						<% if t.estado==3 and @encargado%>
							<%= link_to "Responder", {controller: "cita_medica", action: "agregar_espuesta", cita: t.id}, class: "btn btn-success"%>
						<% elsif t.estado==1 and t.cuenta_usuarios_id==current_cuenta_usuario.id%>
							<%= link_to "Efectuar", {controller: "cita_medica", action: "efectuar", cita: t.id}, class: "btn btn-primary"%>
						<% end%>
					</div>
				</div>
				<br />
			<% end%>
		</div>
	</div>
	<center>
		<div class="btn-group btn-group-lg" role="group">
			<%= link_to "Pacientes", {controller: "paciente", action: "visualizar"}, class: "btn btn-default"%>
			<% if @medico or @paramedico%>
					<%= link_to "Consulta",{controller: "cita_medica", action: "efectuar", paciente: @paciente.correo}, class: "btn btn-primary"%>
			<% end%>
			<% if @medico or @admin%>
				<%= link_to "Modificar",{controller: "paciente", action: "actualizar", paciente: @paciente.correo}, class: "btn btn-success"%>
			<% end%>
			<% if @medico%>
				<%= link_to "INR/LAB", {controller: "paciente", action: "agregar_inr", paciente: @paciente.correo}, class: "btn btn-info"%>
			<% end%>
		</div>
	</center>
<%else%>
	<%= form_tag({controller: "paciente", action: "visualizar"}, id: "buscar_paciente",remote: true , method: "get") do%>
		<div class="form-group">
			<%= label_tag "buscar paciente por nombre"%>
			<div class="input-group">
				<%= text_field_tag "busqueda","", placeholder: "Nombre de paciente", class: "form-control"%>
				<span class="input-group-btn">
					<%= button_tag(type: 'submit', class: "btn btn-primary") do%>
						<span class="glyphicon glyphicon-search"></span>
					<% end%>
					<% if @medico or @admin%>
						<%= link_to({controller: "paciente", action: "agregar"}, class: "btn btn-success") do%>
							<span class="glyphicon glyphicon-plus"></span>
						<% end%>
					<% end%>
				</span>
			</div>
		</div>
	<% end%>
	<div id="pacientes">
		<%= render 'vista_pacientes'%>
	</div>
<%end%>
<br />
