<h1>Ver pacientes</h1>
<% if @especifico%>
	<h3>Paciente especificado</h3>
	<br />
	Nombre: <%= @nombre%>
	<br />
	Apellido: <%= @apellido%>
	<br />
	Numero de identificacion: <%= @identificacion%>
	<br />
	Documento: <%= @documento%>
	<br />
	Direccion: <%= @direccion%>
	<br />
	Correo: <%= @correo%>
	<br />
	Estado Civil: <%= @estadoC%>
	<br />
	Genero: <%= @genero%>
	<br />
	Fecha de nacimiento: <%= @fechaN%>
	<br />
	<br />
	Patologia: <%= @patologia%>
	<br />
	Decripcion: <%= @desPatologia%>
	<br />
	<br />
	Ultimo INR registrado: <%= @inr%>
	<br />
	tomado el <%= @fecha%>
	<br />
	<br />
	<% if @antecedentesPaciente%>
		<h2>Antecedentes clinicos del paciente</h2>
		<% @antecedentesPaciente.each do |a|%>
			<%= a.nombre%>
			<% if a.tipo%>
				<br />
				<%=a.descripcion%>: <%=a.comentario%>
				<br />
			<% end%>
			<br />
		<% end%>
	<% end%>
	<br />
	<% if @prescripcion%>
		<h2>Ultima prescripcion</h2>
		<br />
		Fecha de creacion: <%= @prescripcion.created_at%>
		<br />
		Fecha de vencimiento: <%= @prescripcion.fechaFin%>
		<br />
		Anticoagulante: <%= @anticoagulante.nombre%>
		<br />
		<% if @prescripcionDiaria%>
			Prescripcion diaria
			<br />
			<% @prescripcionDiaria.each do |d|%>
				<li>
					Dia <%= d.dia%> - cantidad <%= d.cantidad%> gramos.
				</li>
			<% end%>
		<% end%>
	<% end%>
	<% if @citasMedicas%>
		<br />
		<h2>Citas medicas del paciente</h2>
		<% @citasMedicas.each do |t| %>
			Fecha: <%= t.fecha %>
			<br />
			Tipo: <%= t.tipo%>
			<br />
			INR de la cita: <%= t.inr%>
			<br />
			<%= link_to "Ver cita", controller: "cita_medica", action: "visualizar", cita: t.id%>
			<br />
		<% end%>
	<% end%>
	<% if @medico or @paramedico%>
		<br />
		<% if @prescripcion and (@fechaActual < @prescripcion.fechaFin.to_date)%>
			Es recomendable no hacer la consulta.
			<br />
		<% end%>
		<%= link_to "Nueva consulta", controller: "cita_medica", action: "aplicar", paciente: @correo%>
	<% end%>
<%else%>
	<% @pacientes.each do |t|%>
		<li>
			<%= link_to t.nombre+" "+t.apellido, controller: "paciente", action: "visualizar", correo: t.correo%> - 
			<% if @medico or @paramedico%>
				<%= link_to "Nueva consulta", controller: "cita_medica", action: "aplicar", paciente: t.correo%>
			<% end%>
		</li>
	<%end%>
<%end%>
<br />
<%= @mensaje%>
<br />
