<h1>Ver pacientes</h1>
<% if @especifico%>
	<h3>Paciente especificado</h3>
	<br />
	<%= image_tag(@paciente.avatar.url(:medium))%>
	<br />
	Nombre: <%= @paciente.nombre%>
	<br />
	Apellido: <%= @paciente.apellido%>
	<br />
	Numero de identificacion: <%= @paciente.identificacion%>
	<br />
	Documento: <%= @paciente.tipo_documentos.nombre%>
	<br />
	Direccion: <%= @paciente.direccion%>
	<br />
	Correo: <%= @paciente.correo%>
	<br />
	Estado Civil: <%= @paciente.estado_civils.nombre%>
	<br />
	Genero: <%= @genero%>
	<br />
	Fecha de nacimiento: <%= @paciente.fecha_nacimiento%> (<%= @edad%> años)
	<br />
	<br />
	Patologia: <%= @paciente.patologia.nombre%>
	<br />
	Decripcion: <%= @paciente.patologia.descripcion%>
	<br />
	<br />
	Ultimo INR registrado: <%= (@inr.valorInr) if @inr%>
	<br />
	tomado el <%= (@inr.fecha) if @inr%>
	<br />
	<br />
	Empezando a calcular desde: <%= @fechaPrimera%>
	<br />
	Promedio INR: <%= @promedioINR%>
	<br />
	Porcentaje INR: <%= @porcentajeINR%> %
	<br />
	Porcentaje de riesgo de hemorragia: <%= @riesgoHemorragia%> %
	<br />
	Porcentaje de riesgo de embolia: <%= @riesgoEmbolia%> %
	<%= render 'antecedente_paciente'%>
	<div id="vista_inr">
		<%= render 'vista_inr'%>
	</div>
	<br />
	<div id="vista_laboratorios">
		<%= render 'vista_laboratorios'%>
	</div>
	<br />
	<% if @prescripcion%>
		<h2>Ultima prescripcion</h2>
		<br />
		Fecha de creacion: <%= @prescripcion.created_at%>
		<br />
		Fecha de vencimiento: <%= @prescripcion.fechaFin%>
		<br />
		Anticoagulante: <%= @prescripcion.anticoagulantes.nombre%>
		<br />
		Prescripcion diaria
		<br />
		<% @prescripcion.prescripcion_diaria.each do |d|%>
			<li>
				Dia <%= d.dia_asociados.nombre%> - cantidad <%= d.cantidadGramos%> gramos.
			</li>
		<% end%>
	<% end%>
	<br />
	<h2>Citas medicas del paciente</h2>
	<% @citasMedicas.each do |t| %>
		Fecha: <%= t.fecha %> - Tipo: <%= t.tipo%>
		<br />
		INR: 
		<% if t.inr_pacientes.where(["fecha = ? and cita_medicas_id = ?",t.fecha,t.id]).first %>
			<%= t.inr_pacientes.where(["fecha = ? and cita_medicas_id = ?",t.fecha,t.id]).first.valorInr%>
		<% else%>
			(Sin encontrar)
		<% end%>
		<br />
		<%= link_to "Ver cita", controller: "cita_medica", action: "visualizar", cita: t.id%>
		<br />
	<% end%>
	<% if @medico or @paramedico%>
		<br />
		<% if @prescripcion and (Date.current < @prescripcion.fechaFin.to_date)%>
			Es recomendable no hacer la consulta ahora.
			<br />
		<% end%>
		<%= link_to "Nueva consulta", controller: "cita_medica", action: "efectuar", paciente: @paciente.correo%>
	<% end%>
	<% if @medico or @admin%>
		<br />
		<%= link_to "Modificar paciente", controller: "paciente", action: "actualizar", paciente: @paciente.correo%>
	<% end%>
	<% if @medico%>
		<br />
		<%= link_to "Agregar inr's", controller: "paciente", action: "agregar_inr", paciente: @paciente.correo%>
	<% end%>
<%else%>
	<%= form_tag({controller: "paciente", action: "visualizar"},  remote: true , method: "get") do%>
		<%= text_field_tag "busqueda", "", size: 20, placeholder: "Nombre de paciente"%>
		<%= submit_tag "buscar", disabled: false, disable_with: "Por favor espere..."%>
	<% end%>
	<br />
	<% if @medico or @admin%>
		<%= link_to "Agregar paciente", controller: "paciente", action: "agregar"%>
		<br />
	<% end%>
	<br />
	<div id="pacientes">
		<%= render 'vista_pacientes'%>
	</div>
<%end%>
<br />
