<h1>Menu de medico especialista</h1>
<br />
<%= link_to('Cerrar sesion', destroy_cuenta_usuario_session_path, method: :delete)%>
<br />
<br />
<%= link_to "Ver todos los pacientes", controller: "paciente", action:"visualizar"%>
<br />
<% if @encargado%>
	<%= link_to "Notificaciones", controller: "cita_medica", action: "visualizar", notificacion: true%>
<% end%>
<br />
<div>
	<h3>Mis citas</h3>
	<% @misCitas.each do |t|%>
		Fecha: <%= t.fecha%>
		<br />
		Hora: <%= t.hora_ini%>
		<br />
		Paciente. <%= t.pacientes.nombre+' '+t.pacientes.apellido%>
		<br />
		<%= link_to "Efectuar cita", controller: "cita_medica", action: "efectuar", cita: t.id%>
		<br />
	<%end%>
</div>
<br />
<%= form_tag({controller: "medico_internista", action: "menu", correo: @correo}, remote: true , method: "get") do%>
	<%= text_field_tag "nombreP", "", size: 30, maxlenght: 30, placeholder: "Nombre del paciente", required:"required"%>
	<%= submit_tag "Buscar", disabled: false, disable_with: "Por favor espere..."%>
<% end%>
<br />
<div id="paciente">
	<%=render 'lista'%>
</div>
<br />
<%= link_to "Agregar paciente", action: "agregar", controller: "paciente"%>
<br />
