<h1>Menu de medico especialista</h1>
<h4>Usuario actual: <%= @nombre%></h4>
<br />
<%= link_to('Cerrar sesion', destroy_cuenta_usuario_session_path, method: :delete)%>
<br />
<br />
<%= link_to "Ver todos los pacientes", controller: "paciente", action:"visualizar"%>
<br />
<% if @encargado%>
<%= link_to "Notificaciones", controller: "cita_medica", action: "visualizar", notificacion: true%>
<% end%>
<% if @busqueda%>
	<br />
	<% @pacientesAcorde.each do |p|%>
		<div>
			<%= link_to p.nombre+" "+p.apellido, controller: "paciente", action: "visualizar", correo: p.correo%> - 
			<%= link_to "Nueva consulta" , controller: "cita_medica", action: "aplicar", paciente: p.correo%>
		</div>
	<% end%>
<% else%>
	<br />
	<%= form_tag({controller: "medico_internista", action: "menu", correo: @correo} , method: "get") do%>
		<%= text_field_tag "nombreP", "", size: 30, maxlenght: 30, placeholder: "Nombre del paciente", required:"required"%>
		<%= submit_tag "Buscar", disabled: false, disable_with: "Por favor espere..."%>
	<% end%>
<% end%>
<br />
<%= link_to "Agregar paciente", action: "agregar", controller: "paciente"%>
<br />
