<h1>Menu de paramedico</h1>
<br />
<%= link_to('Cerrar sesion', destroy_cuenta_usuario_session_path, method: :delete)%>
<br />
<%= link_to "Ver pacientes", controller: "paciente" , action: "visualizar"%>
<br />
<%= link_to "Actualizar mis datos", controller: "usuario", action: "actualizar"%>
<br />
<% if @citas%>
	<h3>Prescripciones</h3>
	<% @citas.each do |t|%>
		<li>
			Paciente: <%= t.pacientes.nombre+' '+t.pacientes.apellido%>
	  		<br />
			Direccion: <%= t.pacientes.direccion%>
	  		<br />
	  		<%fecha=t.respuesta_cita.first.prescripcions.first.fechaFin%>
	  		Fecha de vencimiento de la prescripcion: <%= fecha%>
	  		<br />
	  		<% if fecha.to_date<=Date.current%>
	    		Debe realizar una visita al paciente
	    	<% else%>
	    		Aun no es tiempo para la visita
	  		<% end%>
	  		<br />
	  		<%= link_to "Nueva visita domiciliaria", controller: "cita_medica", action: "aplicar", paciente: t.pacientes.correo%>
	  		<br />
		</li>
	<% end%> 
<% end%>
<br />
