<h1>Menu de paramedico</h1>
<br />
<%= link_to('Cerrar sesion', destroy_cuenta_usuario_session_path, method: :delete)%>
<br />
<%= link_to "Ver pacientes", controller: "paciente" , action: "visualizar"%>
<br />
<% if @citas%>
	<h3>Prescripciones</h3>
	<% @citas.each do |t|%>
		<li>
			Paciente: <%= t.pacientes.nombre+' '+t.pacientes.apellido%>
			<br />
			Direccion: <%= t.pacientes.direccion%>
			<br />
			<%fecha=t.respuesta_cita.first.prescripcions.first.fechaFin%>
			Fecha de vencimiento de la prescripcion: <%= fecha%>
			<br />
			<%= link_to "Nueva visita domiciliaria", controller: "cita_medica", action: "aplicar", paciente: t.pacientes.correo%>
			<br />
		</li>
	<% end%>
<% end%>
<br />
