<%= form_tag({controller: "cita_medica", action: params[:action], cita: params[:cita]}, id: "buscar_icd", remote: true , method: "get") do -%>
	<div class="form-group" id="divBusquedaIdc">
		<%= label_tag "Buscar diagnostico",nil, class: "control-label"%>
		<div class="input-group">
			<%= text_field_tag "icd_b", params[:icd_b] ,placeholder: "Codigo o nombre del diagnostico", class: "form-control"%>
			<span class="input-group-btn">
				<%= submit_tag "Buscar", class: "btn btn-primary"%>
			</span>
		</div>
	</div>
<% end -%>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Diagnosticos</h3>
	</div>
	<div class="panel-body">
		<%if @icd_b%>
			<% @icd_b.each do |t|%>
				<div class="row">
					<div class="col-md-10">
						<strong><%= t.id10%></strong>
						<br />
						<%= t.dec10%>
					</div>
					<div class="col-md-2">
						<%= form_tag({controller: "cita_medica", action: params[:action], cita: params[:cita], icd_v: t.id, icd_b: params[:icd_b]}, id: "icd_en_"+t.id10, remote: true , method: "get") do %>
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group" role="group">
									<%= submit_tag "Agregar", class: "btn btn-success"%>
								</div>
							</div>
						<% end%>
					</div>		
				</div>
			<% end%>
		<% end%>
	</div>
</div>
