<div id="datos_paciente">
	<% if @paciente%>
		<h3>Datos del paciente</h3>
		<%= image_tag(@paciente.avatar.url(:medium))%>
		<br />
		Paciente: <%= @paciente.nombre+' '+@paciente.apellido%>
		<br />
		Patologia: <%= @paciente.patologia.nombre%>
		<br />
		Descripcion patologica: <%= @paciente.patologia.descripcion%>
		<br />
		Antecedentes generales: <%= @paciente.antecedente_general%>
		<br />
		<div id="antecedente_paciente">
			<%= render 'paciente/antecedente_paciente'%>
		</div>
	<% end%>
</div>
