<div id="datos_paciente">
	<% if @cita%>
		<h3>Datos del paciente</h3>
		<%= image_tag(@paciente.avatar.url(:medium))%>
		<br />
		Paciente: <%= @cita.pacientes.nombre+' '+@cita.pacientes.apellido%>
		<br />
		Patologia: <%= @cita.pacientes.patologia.nombre%>
		<br />
		Descripcion patologica: <%= @cita.pacientes.patologia.descripcion%>
		<br />
		Antecedentes generales: <%= @cita.pacientes.antecedente_general%>
		<br />
		<% @cita.pacientes.antecedente_paciente.each do |t|%>
			<br />
			<%= t.antecedente_medicos.nombre%>
			<br />
			<%if t.antecedentes_medicos.tipo%>
				<%= t.antecedentes_medicos.descripcion%>: <%= t.comentario%>
			<% end%>
		<% end%>
	<% end%>
</div>
