<div id="observacion" class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Observacion</h3>
	</div>
	<div class="panel-body">
		<% if @medico%>
			<div class="form-group" id="divSubjetiva">
				<%= label_tag "Observacion Subjetiva",nil, class: "control-label"%>
				<%= text_area_tag "subjetiva", params[:subjetiva], placeholder: "Observacion subjetiva", rows: 3, class: "form-control"%>
			</div>
			<div class="form-group" id="divObjetiva">
				<%= label_tag "Observacion Objetiva",nil, class: "control-label"%>
				<%= text_area_tag "objetiva", params[:objetiva], placeholder: "Observacion Objetiva", rows: 3, class: "form-control"%>
			</div>
			<div class="form-group" id="divTratamiento">
				<%= label_tag "Tratamiento temporal",nil, class: "control-label"%>
				<div class="input-group">
					<span class="input-group-addon">
		        		<%= check_box_tag "temporal", "temporal", params[:temporal].present?, onclick: "tratamientoDefinido()"%>
		      		</span>
					<%= text_field_tag "semanas_t", params[:semanas_t] , maxlenght: 2, placeholder: "Semanas de tratamiento", class: "form-control", onkeypress: "return isNumber(event)" , readonly: "readonly"%>
				</div>
			</div>
		<% elsif @paramedico%>
			<div class="form-group" id="divObservacion">
				<%= label_tag "Observacion general",nil, class: "control-label"%>
				<%= text_area_tag "observacion_g", params[:observacion_g], placeholder: "Observacion general", rows: 3, class: "form-control"%>
			</div>
		<% end%>
		<div class="form-group" id="divFrecuencia">
			<%= label_tag "Frecuencia Cardiaca",nil, class: "control-label"%>
			<%= text_field_tag "frecuencia_car", params[:frecuencia_car], size: 20, maxlenght: 15, placeholder: "Frecuencia cardiaca", class: "form-control", onkeypress: "return isNumber(event)" %>
		</div>
		<div class="form-group" id="divSistolica">
			<%= label_tag "Hipertension sistolica",nil, class: "control-label"%>
			<%= text_field_tag "hsis", params[:hsis], size: 20, maxlenght: 15 , placeholder: "Hipertension sistolica", class: "form-control", onkeypress: "return isNumber(event)"%>
		</div>
		<div class="form-group" id="divDiastolica">
			<%= label_tag "Hipertension diastolica",nil, class: "control-label"%>
			<%= text_field_tag "hdia", params[:hdia], size: 20, maxlenght: 15, placeholder: "Hipertension diastolica", class: "form-control", onkeypress: "return isNumber(event)"%>
		</div>
	</div>
</div>