<div id="preguntas">
	<h3>Preguntas</h3>
	<br />
	<% @preguntas.each do |t|%>
		<br />
		<%= check_box_tag t.id.to_s+"_p", t.id.to_s+"_p"%> ¿<%= t.pregunta%>?
		<% if t.tipo%>
			<br />
			<%= text_area_tag t.id.to_s+"_comentario", "", placeholder: t.descripcion%>
		<% end%>
	<% end%>
	<br />
	<%= text_field_tag "inr", @valorInr , size: 30, maxlenght: 30, placeholder: "INR del paciente", required:"required"%>
	<br />
	Anticoagulante: <%= select_tag "antic_inr", options_from_collection_for_select(@anticoagulantes, :id,:nombre)%>
</div>