<div id="respuesta">
	<h3>Respuesta Medica</h3>
	<br />Analisis
	<br />
	<%= text_area_tag "analisis", @valorAnalisis%>
	<br />
	<br />Plan
	<br />
	<%= text_area_tag "plan", @valorPLan%>
</div>
<div id="prescripcion">
	<h3>Preinscripcion</h3>
	<br />
	Anticoagulante: <%= select_tag "antic", options_from_collection_for_select(@anticoagulantes, :id,:nombre)%>
	<br />
	Dias de tratamiento: 
	<%= text_field_tag "fecha_fin", @valorFechaFin%>
	<br />
	Dosis diaria
	<br />
	<% @diasAsociados.each do |t|%>
		<%= check_box_tag t.id.to_s+"_d", t.id.to_s+"_t"%> <%= t.nombre%>
		<%= text_field_tag t.id.to_s+"_cantidad", "" , size: 5, maxlenght: 5%> gramos
		<br />
	<% end%>
	<br />
	Recomendaciones de tratamiento:
	<br />
	<%= text_area_tag "recomendacion", @valorRecomendacion%>
</div>