<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Respuesta Medica</h3>
	</div>
	<div class="panel-body">
		<div class="form-group" id="divAnalisis">
			<%= label_tag "Analisis",nil, class: "control-label"%>
			<%= text_area_tag "analisis", params[:analisis], placeholder: "Analisis", rows: 3, class: "form-control"%>
		</div>
		<div class="form-group" id="divPlan">
			<%= label_tag "Plan",nil, class: "control-label"%>
			<%= text_area_tag "plan", params[:plan], placeholder: "Plan", rows: 3, class: "form-control"%>
		</div>
		<div class="form-group" id="divRangoMin">
			<%= label_tag "Valor minimo de inr saludable",nil, class: "control-label"%>
			<%= text_field_tag "valor_min", @valorMin, maxlenght: 4, class: "form-control", onkeypress: "return isNumber(event)"%>
		</div>
		<div class="form-group" id="divRangoMax">
			<%= label_tag "Valor maximo de inr saludable",nil, class: "control-label"%>
			<%= text_field_tag "valor_max", @valorMax, maxlenght: 4, class: "form-control", onkeypress: "return isNumber(event)"%>
		</div>
	</div>
</div>
<div id="prescripcion" class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Prescripcion medica</h3>
	</div>
	<div class="panel-body">
		<div class="form-group" id="divAnticoagulante">
			<%= label_tag "Anticoagulante",nil, class: "control-label"%>
			<%= select_tag "antic", options_from_collection_for_select(@anticoagulantes, :id,:nombre, if @ultimaPrescripcion then @ultimaPrescripcion.anticoagulantes_id else params[:antic] end), class: "form-control"%>
			<% @anticoagulantes.each do |a|%>
				<%= hidden_field_tag a.id.to_s+"_cont", a.concentracion%>
			<% end%>
		</div>
		<div class="form-group" id="divDiasTratamiento">
			<%= label_tag "Dias de tratamiento",nil, class: "control-label"%>
			<%= text_field_tag "fecha_fin", if @ultimaPrescripcion then (@ultimaPrescripcion.fechaFin.to_date - @ultimaPrescripcion.created_at.to_date).to_i else params[:fecha_fin] end, placeholder: "Dias de tratamiento", class: "form-control", onkeypress: "return isNumber(event)"%>
		</div>
		<div class="form-group" id="divRecomendacion">
			<%= label_tag "Recomendaciones para la prescripcion",nil, class: "control-label"%>
			<%= text_area_tag "recomendacion", if @ultimaPrescripcion then @ultimaPrescripcion.recomendacion else params[:recomendacion] end, placeholder: "Recomendaciones para la prescripcion", rows: 3, class: "form-control"%>
		</div>
		<table class="table table-bordered">
			<tr>
				<td>
					<strong>Numero de tabletas</strong>
				</td>
				<% @diasAsociados.each do |t|%>
					<td>
						<div class="form-group">
							<%= label_tag t.nombre, nil, class: "control-label"%>
							<%
							dosis=0;
							if @ultimaPrescripcion
								dosis=@ultimaPrescripcion.prescripcion_diaria.find_by(dia_asociados_id: t.id).dosis.to_f
							end
							%>
							<%= number_field_tag t.id.to_s, dosis.to_f, min: 0, max: 3, step: 0.5, class: "form-control", onchange: "dosisAnticoagulante('"+t.id.to_s+"')"%>
						</div>
					</td>
				<% end%>
			</tr>
			<tr>
				<td>
					<strong>Dosis diaria</strong>
				</td>
				<% @diasAsociados.each do |t|%>
					<td>
						<%
						valor=0;
						if @ultimaPrescripcion
							dosis=@ultimaPrescripcion.prescripcion_diaria.find_by(dia_asociados_id: t.id).dosis.to_f
							valor=dosis*(@ultimaPrescripcion.anticoagulantes.concentracion)
						end
						%>
						<div class="form-group">
							<%= label_tag t.id.to_s+"_dosis_dia", valor, id: t.id.to_s+"_dosis_dia"%> mg
						</div>
					</td>
				<% end%>
			</tr>
		</table>
		<ul class="list-group">
			<li class="list-group-item" id="dosisSemanal">
				Dosis semanal: <%= if @ultimaPrescripcion then @ultimaPrescripcion.dosisSemanal else "-- --" end%> mg
			</li>
		</ul>
	</div>
</div>