<div id="vista_preguntas">
	<h3>Encuesta medica</h3>
	<% @cita.pregunta_cita.each do |t|%>
		<li>
			<%= t.pregunta.pregunta%>
			<% if t.pregunta.tipo%>
				<br />
				<%= t.pregunta.descripcion%>: <%= t.comentario%>
			<% end%>
		</li>
	<% end%>
	<br />
	Valor INR: <%= (@inr.valorInr) if @inr%>
	<br />
	Anticoagulante usado: <%= (@inr.anticoagulantes.nombre) if @inr%>
</div>