<%= render 'datos_paciente'%>
<br />
<%= render 'ver_preguntas'%>
<br />
<div id="ver_icd">
	<%= render 'ver_icd'%>
</div>
<h2>Agregar respuesta</h2>
<%= form_tag({controller: "cita_medica", action: "agregar_respuesta", cita: params[:cita]} , method: "post") do %>
	<% if @preguntaInr%>
		<%= check_box_tag @preguntaInr.id.to_s+"_p", @preguntaInr.id.to_s+"_p"%> ¿Tiene el paciente inr dificil en este punto?
		<br />
	<% end%>
	<br />
	<%= render 'respuesta'%>
	<br />
	<%= submit_tag "Enviar respuesta", disabled: false, disable_with: "Por favor espere..."%>
	<br />
<% end%>
<br />
<div id="buscar_icd">
	<%= render 'buscar_icd'%>
</div>
