<h2>Cita</h2>
<% if @nivel%>
	<h2>Cita presencial</h2>
	<%= form_tag({controller: "cita_medica", action: "efectuar", cita: params[:cita]} , method: "post") do %>
		<br />
		<%= render 'preguntas'%>
		<br />
		<%= render 'respuesta'%
		<br />
		<%= submit_tag "Guardar datos", disabled: false, disable_with: "Por favor espere..."%>
		<br />
	<% end%>
<% else%>
	<%= form_tag({controller: "cita_medica", action: "efectuar", cita: params[:cita]} , method: "post") do %>
		<br />
		<%= render 'preguntas'%>
		<br />
		<%= submit_tag "Enviar para respuesta", disabled: false, disable_with: "Por favor espere..."%>
	<% end%>
<% end%>
<br />
