<h2>Cita</h2>
<% if @nivel%>
	<%= render 'datos_paciente'%>
	<br />
	<h2>Cita presencial</h2>
	<%= form_tag({controller: "cita_medica", action: "efectuar", cita: params[:cita]} , method: "post") do %>
		<br />
		<%= render 'observacion'%>
		<br />
		<%= render 'preguntas'%>
		<br />
		<%= render 'respuesta'%>
		<br />
		<div id="ver_icd">
			<%= render 'ver_icd'%>
		</div>
		<br />
		<%= submit_tag "Guardar datos", disabled: false, disable_with: "Por favor espere..."%>
		<br />
	<% end%>
	<br />
	<div id="buscar_icd">
		<%= render 'buscar_icd'%>
	</div>
<% else%>
	<%= form_tag({controller: "cita_medica", action: "efectuar", cita: params[:cita]} , method: "post") do %>
		<br />
		<%= render 'preguntas'%>
		<br />
		<%= submit_tag "Enviar para respuesta", disabled: false, disable_with: "Por favor espere..."%>
	<% end%>
<% end%>
<br />
