<%= render 'datos_paciente'%>
<% if @nivel%>
	<div class="panel panel-default">
		<div class="panel-body">
			<%= form_tag({controller: "cita_medica", action: "efectuar", cita: params[:cita]}, id: "efectuar_medico", method: "post", onsubmit: "return validacionConsulta()") do %>
				<div class="form-group" id="divInrCita">
					<%= label_tag "INR actual del paciente",nil, class: "control-label"%>
					<%= text_field_tag "inr", params[:inr] , maxlenght: 4, placeholder: "INR del paciente", class: "form-control", onkeypress: "return isNumber(event)"%>
				</div>
				<%= render 'observacion'%>
				<%= render 'respuesta'%>
			<% end%>
			<div id="ver_icd">
				<%= render 'ver_icd'%>
			</div>
			<div id="buscar_icd">
				<%= render 'buscar_icd'%>
			</div>
			<%= submit_tag "Guardar datos", class: "btn btn-primary", form: "efectuar_medico"%>
		</div>
	</div>
<% else%>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Ultima cita presencial</h3>
		</div>
		<% if @ultimaCita%>
			<ul class="list-group">
				<li class="list-group-item">
					<strong>Fecha: </strong><%= @ultimaCita.fecha%>
				</li>
				<li class="list-group-item">
					<strong>Hora: </strong><%= @ultimaCita.hora_ini%>
				</li>
				<li class="list-group-item">
					<strong>Tiempo de tratamiento: </strong>
					<% if @ultimaCita.respuesta_cita.observacion_medicas.tiempoIndefinido%>
						Indefinido
					<% else%>
						<%= (@ultimaCita.fecha.to_date - Date.current).to_i%> de <%= @ultimaCita.respuesta_cita.observacion_medicas.diasTratamiento%> dias
					<% end%>
				</li>
			</ul>
		<% else%>
			<strong>No se ha encontrado alguna cita previa</strong>
		<% end%>
	</div>
	<%= form_tag({controller: "cita_medica", action: "efectuar", cita: params[:cita]}, id: "efecutar_paramedico" , method: "post", onsubmit: "return validacionVisita()") do %>
		<%= render 'preguntas'%>
		<%= render 'observacion'%>
		<%= submit_tag "Enviar para respuesta", class: "btn btn-primary"%>
	<% end%>
<% end%>
