<h2>Cita</h2>
<% if @nivel%>
	<%= render 'datos_paciente'%>
	<br />
	<h2>Cita presencial</h2>
	<%= form_tag({controller: "cita_medica", action: "efectuar", cita: params[:cita]} , method: "post") do %>
		<br />
		<%= render 'observacion'%>
		<br />
		<%= render 'preguntas'%>
		<br />
		<%= render 'respuesta'%>
		<br />
		<div id="ver_icd">
			<%= render 'ver_icd'%>
		</div>
		<br />
		<%= submit_tag "Guardar datos", disabled: false, disable_with: "Por favor espere..."%>
		<br />
	<% end%>
	<br />
	<div id="buscar_icd">
		<%= render 'buscar_icd'%>
	</div>
<% else%>
	<div id="cita_domiciliaria">
		<% if @ultimaCita%>
			<h3>Ultima cita domiciliaria</h3>
			Fecha: <%= @ultimaCita.fecha%>
			<br />
			Hora: <%= @ultimaCita.hora_ini%>
			<br />
			Tiempo de tratamiento:
			<% if @ultimaCia.respuesta_cita.observacion_medicas.tienpoIndefinido%>
				Indefinido
			<% else%>
				<%= (@ultimaCita.fecha.to_date - Date.current).to_i%> de <%= @ultimaCia.respuesta_cita.observacion_medicas.diasTratamiento%>
			<% end%>
		<% end%>
	</div>
	<%= form_tag({controller: "cita_medica", action: "efectuar", cita: params[:cita]} , method: "post") do %>
		<br />
		<%= render 'preguntas'%>
		<br />
		<%= submit_tag "Enviar para respuesta", disabled: false, disable_with: "Por favor espere..."%>
	<% end%>
<% end%>
<br />
