<h1>Citas</h1>
<% if @nivel==3%>
	<h3>Cita especifica</h3>
	Fecha: <%= @cita.fecha%>
	<br />
	Hora: <%= @cita.hora_ini%>
	<br />
	Tipo de cita: <%= @cita.tipo%>
	<br />
	Paciente: <%= @cita.pacientes.nombre+' '+@cita.pacientes.apellido%>
	<br />
	Patologia del paciente: <%= @cita.pacientes.patologia.nombre%>
	<br />
	<%= render 'ver_preguntas'%>
	<br />
	<div>
		<h3>Respuesta medica</h3>
		<% unless @respuesta%>
			<h4>(En espera)</h4>
			<% if @encargado%>
				<%= link_to "Agregar respuesta", controller: "cita_medica", action: "agregar_respuesta", cita: @cita.id%>
			<% end%>
		<% else%>
			<% if @observacion%>
				<br />Observacion objetiva: <%=@observacion.objetivo%>
				<br />Observacion subjetiva: <%= @observacion.subjetivo%>
				<% if @observacion.tiempoIndefinido%>
					<br />Tratamiento de tiempo indefinido
				<% else%>
					<br />Duracion de tratamiento: <%= @observacion.semanasTratamiento%>
				<% end%>
			<% end%>
			<br />Analisis: <%= @respuesta.analisis%>
			<br />Plan: <%= @respuesta.plan%>
			<% if @prescripcion%>
				<h3>Prescripcion medica</h3>
				Fecha de vencimiento: <%= @prescripcion.fechaFin%>
				<br />
				Anticoagulante: <%= @prescripcion.anticoagulantes.nombre%>
				<br />
				<% @prescripcion.prescripcion_diaria.each do |t|%>
					Dia: <%=t.dia_asociados.nombre%> - <%=t.cantidadGramos%> gramos
					<br />
				<% end%>
			<% end%>
		<% end%>
	</div>
<% elsif @nivel==2%>
	<h3>Notifiaciones</h3>
	<br />
	<% @citasRegistradas.each do |t|%>
		<br />
		Fecha: <%= t.fecha%>
		<br />
		Hora: <%= t.hora_ini%>
		<br />
		Paciente: <%= t.pacientes.nombre+' '+t.pacientes.apellido%>
		<br />
		<%= link_to "Ver Cita" , controller: "cita_medica", action: "visualizar", cita: t.id%>
		<br />
		<%= link_to "Agregar respuesta", controller: "cita_medica", action: "agregar_respuesta", cita: t.id%>
		<br />
	<% end%>
<% elsif @nivel==1%>
	<h3>Cita registradas</h3>
	<br />
	<% @citasRegistradas.each do |t|%>
		<br />
		Fecha: <%= t.fecha%>
		<br />
		Hora: <%= t.hora_ini%>
		<br />
		Paciente: <%= t.pacientes.nombre+' '+t.pacientes.apellido%>
		<br />
		<%= link_to "Ver Cita" , controller: "cita_medica", action: "visualizar", cita: t.id%>
		<% if t.estado ==3 and @encargado%>
			<br />
			<%= link_to "Agregar respuesta", controller: "cita_medica", action: "agregar_respuesta", cita: t.id%>
		<% end%>
		<br />
	<% end%>
<% end%>
<br />
