<% if @nivel%>
	<h3>Cita especificada<small><%= @cita.tipo%></small></h3>
	<div class="panel panel-primary">
		<div class="panel-body">
			<strong>Fecha: </strong><%= @cita.fecha%>
			<br />
			<strong>Hora: </strong><%= @cita.hora_ini%>
		</div>
	</div>
	<%= render 'datos_paciente'%>
	<%= render 'ver_preguntas'%>
	<%= render 'ver_observacion'%>
	<% unless @respuesta%>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Respuesta <small>(En espera)</small></h3>
			</div>
			<div class="panel-body">
				<% if @encargado%>
					<%= link_to "Responder" ,{controller: "cita_medica", action: "agregar_respuesta", cita: @cita.id}, class: "btn btn-danger"%>
				<% else%>
					<h3><label class="label label-danger">Sin responder</label></h3>
				<% end%>
			</div>
		</div>
	<% else%>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Respuesta</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<strong>Analisis</strong>
					</div>
					<div class="col-md-8">
						<%= @respuesta.analisis%>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<strong>Plan</strong>
					</div>
					<div class="col-md-8">
						<%= @respuesta.plan%>
					</div>
				</div>
			</div>
		</div>
		<% if @prescripcion%>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Prescripcion</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<strong>Fecha de vencimiento</strong>
						</div>
						<div class="col-md-8">
							<%= @prescripcion.fechaFin%>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<strong>Anticoagulante</strong>
						</div>
						<div class="col-md-8">
							<%= @prescripcion.anticoagulantes.nombre%>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<strong>promedio de dosis semanal</strong>
						</div>
						<div class="col-md-8">
							<%= eval(sprintf("%8.2f",(@prescripcion.dosisSemanal.to_f / 7)))%> miligramos
						</div>
					</div>
				</div>
				<table class="table table-bordered">
					<tr>
						<% @prescripcion.prescripcion_diaria.each do |t|%>
							<td>
								<%= t.dia_asociados.nombre%>
							</td>
						<% end%>
					</tr>	
					<tr>
						<% @prescripcion.prescripcion_diaria.each do |t|%>
							<td>
								<%= t.dosis%> Pastilla(s)
							</td>
						<% end%>
					</tr>
				</table>
			</div>
		<% end%>
		<div id="ver_icd">
			<%= render 'ver_icd'%>
		</div>
	<% end%>
<% else%>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><%= @titulo%></h3>
		</div>
		<table class="table table-bordered">
			<tr>
				<td><strong>Fecha</strong></td>
				<td><strong>Hora</strong></td>
				<td><strong>Paciente</strong></td>
				<% if @admin%>
					<td><strong>Encargado</strong></td>
				<% else%>
					<td><strong>...</strong></td>
				<% end%>
			</tr>
			<% @citasRegistradas.each do |t|%>
				<tr>
					<td>
						<%= t.fecha%>
						<% if t.estado==1%>
							<% if t.fecha.to_date>Date.current%>
								<span class="label label-info">Proximamente</span>
							<% elsif t.fecha.to_date<Date.current%>
								<span class="label label-default">Vencida</span>
							<% else%>
								<span class="label label-warning">Hoy</span>
							<% end%>
						<% elsif t.estado==2%>
							<%if t.tipo=="Domiciliaria"%>
								<span class="label label-success">Visita con respuesta</span>
							<% else%>
								<span class="label label-success">Realizada</span>
							<% end%>
						<% else%>
							<span class="label label-danger">Visita sin respuesta</span>
						<% end%>
					</td>
					<td>
						<%= t.hora_ini%>
					</td>
					<td>
						<%=link_to image_tag(t.pacientes.avatar.url(:medium), size: "30x30", class: "img-rounded"), {controller: "paciente", action: "visualizar", correo: t.pacientes.correo}%>
						<%= t.pacientes.nombre+' '+t.pacientes.apellido%>
					</td>
					<% if @admin %>
						<td>
							<%= t.cuenta_usuarios.nombre+' '+t.cuenta_usuarios.apellido%>
						</td>
					<% end%>
					<% if t.estado ==3 and @encargado%>
						<td>
							<%= link_to "Responder", {controller: "cita_medica", action: "agregar_respuesta", cita: t.id}, class: "btn btn-success"%>
						</td>
					<% elsif t.estado ==1 and @medico and t.cuenta_usuarios_id==current_cuenta_usuario.id%>
						<td>
							<%= link_to "Efectuar", {controller: "cita_medica", action: "efectuar", cita: t.id}, class: "btn btn-danger"%>
						</td>
					<% else%>
						<td>
							<% if t.estado>1%>
								<%= link_to "Ver", {controller: "cita_medica", action: "visualizar", cita: t.id}, class: "btn btn-default"%>
							<% end%>
						</td>
					<% end%>
				</tr>
			<% end%>
		</table>
	</div>
<% end%>
