
<li><%= link_to "Usuarios", {controller: "usuario", action: "visualizar"}%></li>
<li><%= link_to "Pacientes",{controller: "paciente", action: "visualizar"}%></li>
<li><%= link_to "Cosultas con especialista", {controller: "cita_medica", action: "visualizar", presencial: true} %></li>
<li><%= link_to "Visitas domiciliarias", {controller: "cita_medica", action: "visualizar", domiciliaria: true} %></li>
<li><%= link_to "Datos de la empresa", {controller: "principal", action: "contenido"} %></li>
<li><%= link_to "Modificar datos personales", {controller: "usuario", action: "actualizar"}%></li>
<li><%= link_to "Cerrar Sesion", destroy_cuenta_usuario_session_path, method: :delete, id: "sign_out"%></li>
