<!DOCTYPE html>
<html>
	<head>
		<title>Clinica Anticoagulante</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<br />
		<% if cuenta_usuario_signed_in?%>
			<%if current_cuenta_usuario.estado==2%>
				Correo: <%= current_cuenta_usuario.email%>
				<br />
				Usuario por autenticar
			<% else%>
				Usuario Actual: <%= current_cuenta_usuario.nombre+' '+current_cuenta_usuario.apellido%>
			<% end%>
		<% end%>
		<p id="notice" class="notice">
			<%= notice %>
		</p>
		<p id="alert" class="alert">
			<%= alert %>
		</p>
		<%= yield %>

		<% if cuenta_usuario_signed_in? and current_cuenta_usuario.estado==1%>
			<%= link_to "Ir al menu", controller: "principal", action: "index"%>
		<% end%>
	</body>
</html>
