<!DOCTYPE html>
<html>
	<head>
		<title>Clinica Axon de Anticoagulación</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body<%= " id=#{controllername}" if controllername %>>
		<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class"navbar-header">
					<%= link_to image_tag("CACBrand.png", height: '30'), {controller: "/principal", action: "contenido"}, class: "navbar-brand" %>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="vspacer2"></div>
			<% if notice%>
				<div id="notice" class="alert alert-info">
					<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><%= notice %>
				</div>
			<% end %>
			<% if alert%>
				<div id="alert" class="alert alert-danger">
					<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span><%= alert %>
				</div>
			<% end %>
			<% unless controllername=="inicio"%>
				<div class="row">
					<div class="col-md-3">
						<%= render 'layouts/menu'%>
					</div>
					<div class="col-md-9">
						<%= yield %>
					</div>
				</div>
			<% else%>
				<%= yield %>
			<% end%>
		</div>
	</body>
</html>
